Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, test-utils, utils, service, api-messages

feat: initial invitations
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/index.ts
  packages/data-model/src/crud/social-agent-invitation.ts
  packages/service/config/controllers/invitations.json
  packages/service/config/service.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/invitations-handler.ts
  packages/service/src/index.ts
  packages/service/src/services/invitations.ts
  packages/service/src/services/social-agents.ts
  packages/service/src/url-templates.ts
  turbowatch.ts
  ui/authorization/src/backend.ts
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/Invitation.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: data-model, service, api-messages

[css-storage-fixture] add account for yori@encom
  packages/css-storage-fixture/.internal/accounts/data/af5e9b98-c3af-4529-922e-01251204e7a7$.json
  packages/css-storage-fixture/.internal/accounts/index/owner/65a409fc-3c76-40fe-ac4e-a2e2bda5f020$.json
  packages/css-storage-fixture/.internal/accounts/index/password/80f21e62-3370-4acb-80f1-6b517c725beb$.json
  packages/css-storage-fixture/.internal/accounts/index/password/email/yori@encom.example$.json
  packages/css-storage-fixture/.internal/accounts/index/pod/baseUrl/http%3A%2F%2Flocalhost%3A3000%2Fyori%2F$.json
  packages/css-storage-fixture/.internal/accounts/index/pod/d6143845-0b1a-461c-9ebb-fcd5bbbb1e20$.json
  packages/css-storage-fixture/.internal/accounts/index/webIdLink/b96f7193-13c0-469b-bdd2-1c4eeaf92c41$.json
  packages/css-storage-fixture/.internal/accounts/index/webIdLink/webId/http%3A%2F%2Flocalhost%3A3000%2Fyori%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/README.md
  packages/css-storage-fixture/yori/.acl
  packages/css-storage-fixture/yori/.meta
  packages/css-storage-fixture/yori/README$.markdown
  packages/css-storage-fixture/yori/README.acl
  packages/css-storage-fixture/yori/agentRegistry/.meta
  packages/css-storage-fixture/yori/agentRegistry/alice-inv$.ttl
  packages/css-storage-fixture/yori/authorizationRegistry/.meta
  packages/css-storage-fixture/yori/profile/card$.ttl
  packages/css-storage-fixture/yori/profile/card.acl
  packages/css-storage-fixture/yori/registrySet$.ttl
Due: none

feat: improved invitations
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/resource.ts
  packages/data-model/src/crud/social-agent-invitation.ts
  packages/interfaces/package.json
  packages/interfaces/src/queue.ts
  packages/service/config/controllers/invitations.json
  packages/service/src/bull-queue.ts
  packages/service/src/handlers/invitations-handler.ts
  packages/service/src/services/invitations.ts
  packages/service/test/unit/bull-queue-test.ts
  pnpm-lock.yaml
  ui/authorization/src/store/app.ts
Due: data-model, service

[ui/authorization] feat: send invitation via web share
  ui/authorization/src/views/SocialAgentList.vue
Due: none

update push notifications
  .gitignore
  packages/css-storage-fixture/package.json
  packages/service/src/handlers/webhooks-handler.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/push-notifications.ts
  packages/service/src/services/web-push.ts
  packages/service/test/unit/handlers/webhooks-handler-test.ts
  packages/service/test/unit/processors/push-notifications-test.ts
  packages/service/test/unit/services/web-push-test.ts
  pnpm-lock.yaml
  ui/authorization/.env.development
  ui/authorization/package.json
  ui/authorization/src/backend.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/sw.js
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/vite.config.ts
Due: service

[service] drop deprecated access inbox
  deploy/config-template.json
  packages/css-storage-fixture/alice/accessInbox/.acl
  packages/css-storage-fixture/alice/profile/card$.ttl
  packages/data-model/src/readable/webid-profile.ts
  packages/data-model/test/readable/webid-profile-test.ts
  packages/service/config/development.json
  packages/service/config/workers/access-inbox.json
  packages/service/src/componentsMain.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/processors/access-inbox.ts
  packages/service/test/unit/handlers/login-redirect-handler-test.ts
  packages/service/test/unit/processors/access-inbox-test.ts
Due: data-model, service

[ui/authoirization] initial i18n
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/components/ShareResource.vue
  ui/authorization/src/locales/en.ftl
  ui/authorization/src/locales/pl.ftl
  ui/authorization/src/plugins/fluent.ts
  ui/authorization/src/plugins/index.ts
  ui/authorization/src/views/ApplicationList.vue
  ui/authorization/src/views/Authentication.vue
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/DataRegistryList.vue
  ui/authorization/src/views/Invitation.vue
  ui/authorization/src/views/SocialAgentList.vue
  ui/authorization/vite.config.ts
Due: none

[ui/authorization] language selector
  ui/authorization/src/locales/en.ftl
  ui/authorization/src/locales/pl.ftl
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/Settings.vue
Due: none

[api-messages] test: full coverage
  packages/api-messages/src/responses.ts
  packages/api-messages/test/requests-test.ts
  packages/api-messages/test/responses-test.ts
Due: api-messages

[data-model] test: improve coverage
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/test/crud/agent-registry-test.ts
  packages/data-model/test/crud/social-agent-invitation-test.ts
  packages/data-model/test/crud/social-agent-registration-test.ts
Due: data-model

[service] test: improve coverage
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/invitations-handler.ts
  packages/service/src/services/index.ts
  packages/service/src/services/invitations.ts
  packages/service/test/unit/handlers/agents-handler-test.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/invitations-handler-test.ts
  packages/service/test/unit/services/access-request-test.ts
  packages/service/test/unit/services/data-registries-test.ts
  packages/service/test/unit/services/inivitations-test.ts
Due: service

[service]: merge login into api handler
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/service/config/controllers/api.json
  packages/service/config/controllers/login.json
  packages/service/config/service.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/authorization-agent-context-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/http-solid-context.ts
  packages/service/src/services/index.ts
  packages/service/src/services/login.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/authorization-agent-context-handler-test.ts
  packages/service/test/unit/handlers/login-handler-test.ts
  packages/service/test/unit/services/login-test.ts
  ui/authorization/src/backend.ts
  ui/authorization/src/store/core.ts
Due: service, api-messages

[service] merge push subscription into api handler
  packages/api-messages/src/requests.ts
  packages/service/config/controllers/push-subscription.json
  packages/service/config/service.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/push-subscription-handler.ts
  packages/service/src/index.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/handlers/push-subscription-handler-test.ts
  ui/authorization/src/backend.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/Dashboard.vue
Due: service, api-messages

[ui/authorization] display localized language names
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/views/Settings.vue
Due: none

enable eslint for vue
  .eslintrc.js
  package.json
  pnpm-lock.yaml
Due: none

[ui/authorization] fix eslint errors
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/components/ShareResource.vue
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/ApplicationList.vue
  ui/authorization/src/views/Authentication.vue
  ui/authorization/src/views/Authorization.vue
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/DataRegistryList.vue
  ui/authorization/src/views/Invitation.vue
  ui/authorization/src/views/Settings.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: none

[ui/authorization] use browser language as default if avaliable
  ui/authorization/.env.development
  ui/authorization/src/store/core.ts
Due: none

use fallback descriptions if needed closes #64
  packages/api-messages/src/payloads.ts
  packages/css-storage-fixture/acme/projectron/access-needs$.ttl
  packages/css-storage-fixture/acme/projectron/descriptions-en$.ttl
  packages/css-storage-fixture/acme/projectron/descriptions-es$.ttl
  packages/css-storage-fixture/shapetrees/trees/File$.ttl
  packages/css-storage-fixture/shapetrees/trees/Image$.ttl
  packages/css-storage-fixture/shapetrees/trees/Project$.ttl
  packages/css-storage-fixture/shapetrees/trees/Task$.ttl
  packages/css-storage-fixture/shapetrees/trees/desc-es$.ttl
  packages/data-model/package.json
  packages/data-model/src/readable/access-need-group.ts
  packages/data-model/src/readable/access-need.ts
  packages/data-model/src/readable/shape-tree.ts
  packages/data-model/test/readable/access-need-group-test.ts
  packages/data-model/test/readable/access-need-test.ts
  packages/data-model/test/readable/shape-tree-test.ts
  packages/service/src/services/descriptions.ts
  packages/service/test/unit/services/descriptions-test.ts
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/store/app.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/Settings.vue
Due: data-model, service, api-messages

[vuejectron] fix eslint errors
  examples/vuejectron/src/components/InputDialog.vue
  examples/vuejectron/src/views/Agent.vue
  examples/vuejectron/src/views/Authn.vue
  examples/vuejectron/src/views/Dashboard.vue
  examples/vuejectron/src/views/Main.vue
  examples/vuejectron/src/views/Project.vue
Due: none

attribute NLnet and NGI
  README.md
  packages/api-messages/README.md
  packages/application/README.md
  packages/authorization-agent/README.md
  packages/css-storage-fixture/README.md
  packages/data-model/README.md
  packages/service/README.md
  packages/utils/README.md
  ui/authorization/README.md
Due: application, data-model, utils, service, api-messages

Clarify github token instructions
  README.md
Due: none

docs: fix default account email
  README.md
Due: none

docs: link to Weblate translation project
  README.md
Due: none

update solid oidc client
  examples/vuejectron/package.json
  examples/vuejectron/src/router/index.ts
  packages/interfaces/package.json
  packages/service/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/router/index.ts
Due: service

updated vite
  examples/vuejectron/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: none

[data-model] fix: client id document uses jsonld
  packages/data-model/src/readable/client-id-document.ts
  packages/data-model/test/readable/client-id-document-test.ts
Due: data-model

[ex/plenary] docs: initial idea for a hackathon project
  examples/plenary/README.md
  packages/css-storage-fixture/shapetrees/shapes/Event$.shex
  packages/css-storage-fixture/shapetrees/shapes/Project$.shex
  packages/css-storage-fixture/shapetrees/shapes/Role$.shex
Due: none

[ex/plenary] feat: define shape trees
  packages/css-storage-fixture/shapetrees/trees/Event$.ttl
  packages/css-storage-fixture/shapetrees/trees/Role$.ttl
  packages/css-storage-fixture/shapetrees/trees/cg-en$.ttl
Due: none

Create CNAME
  CNAME
Due: none

[ex/plenary] generated vuetify app
  examples/plenary/.browserslistrc
  examples/plenary/.editorconfig
  examples/plenary/.eslintrc-auto-import.json
  examples/plenary/.eslintrc.js
  examples/plenary/.gitignore
  examples/plenary/index.html
  examples/plenary/package.json
  examples/plenary/public/favicon.ico
  examples/plenary/src/App.vue
  examples/plenary/src/assets/logo.png
  examples/plenary/src/assets/logo.svg
  examples/plenary/src/auto-imports.d.ts
  examples/plenary/src/components.d.ts
  examples/plenary/src/components/AppFooter.vue
  examples/plenary/src/components/HelloWorld.vue
  examples/plenary/src/components/README.md
  examples/plenary/src/layouts/README.md
  examples/plenary/src/layouts/default.vue
  examples/plenary/src/main.ts
  examples/plenary/src/pages/README.md
  examples/plenary/src/pages/index.vue
  examples/plenary/src/plugins/README.md
  examples/plenary/src/plugins/index.ts
  examples/plenary/src/plugins/vuetify.ts
  examples/plenary/src/router/index.ts
  examples/plenary/src/stores/README.md
  examples/plenary/src/stores/app.ts
  examples/plenary/src/stores/index.ts
  examples/plenary/src/styles/README.md
  examples/plenary/src/styles/settings.scss
  examples/plenary/src/typed-router.d.ts
  examples/plenary/src/vite-env.d.ts
  examples/plenary/tsconfig.json
  examples/plenary/tsconfig.node.json
  examples/plenary/vite.config.mts
  pnpm-lock.yaml
Due: none

[ex/plenary] basic features in UI
  .gitignore
  examples/plenary/index.html
  examples/plenary/package.json
  examples/plenary/shapes
  examples/plenary/src/components.d.ts
  examples/plenary/src/components/AppFooter.vue
  examples/plenary/src/components/EventDetails.vue
  examples/plenary/src/components/EventList.vue
  examples/plenary/src/components/HelloWorld.vue
  examples/plenary/src/layouts/default.vue
  examples/plenary/src/main.ts
  examples/plenary/src/router/index.ts
  examples/plenary/src/stores/app.ts
  examples/plenary/vite.config.mts
  pnpm-lock.yaml
Due: none

[ex/plenary] store data using ldo
  examples/plenary/fake-data.js
  examples/plenary/index.html
  examples/plenary/package.json
  examples/plenary/src/components/EventDetails.vue
  examples/plenary/src/components/EventForm.vue
  examples/plenary/src/components/EventList.vue
  examples/plenary/src/plugins/vuetify.ts
  examples/plenary/src/router/index.ts
  examples/plenary/src/stores/app.ts
  packages/css-storage-fixture/shapetrees/shapes/Event$.shex
  pnpm-lock.yaml
Due: none

[ex/plenary] docs: explain dev setup
  examples/plenary/README.md
Due: none

[ui/authorization] update PWA manifest
  ui/authorization/public/solid.png
  ui/authorization/src/views/Invitation.vue
  ui/authorization/vite.config.ts
Due: none

[ui/authorization] i18n: help to translate (link)
  ui/authorization/src/locales/en.ftl
  ui/authorization/src/locales/pl.ftl
  ui/authorization/src/views/Settings.vue
Due: none

use LDO
  .gitignore
  examples/vuejectron/package.json
  examples/vuejectron/shapes
  examples/vuejectron/src/models.ts
  examples/vuejectron/src/router/index.ts
  examples/vuejectron/src/sai.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/store/core.ts
  examples/vuejectron/src/views/Agent.vue
  examples/vuejectron/src/views/Authn.vue
  examples/vuejectron/src/views/Main.vue
  examples/vuejectron/src/views/Project.vue
  examples/vuejectron/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

update github workflows
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
  .github/workflows/publish-to-npm.yml
Due: none

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
  service: any of: packages/service
  api-messages: any of: packages/api-messages
