Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, test-utils, utils, service, api-messages

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils
      service:
        flags:
          - service
      api-mesages:
        flags:
          - api-messages

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils
  service:
    paths:
      - packages/service
  api-messages:
    paths:
      - packages/api-messages

use @effect/rpc between ui and service
  packages/api-messages/package.json
  packages/api-messages/src/effect.ts
  packages/api-messages/src/index.ts
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/service/.componentsignore
  packages/service/config/controllers/api.json
  packages/service/package.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/rpc-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/jobs.ts
  packages/service/src/services/applications.ts
  packages/service/src/services/data-instance.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
  packages/service/src/services/invitations.ts
  packages/service/src/services/social-agents.ts
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/backend.ts
  ui/authorization/src/components/ShareResource.vue
  ui/authorization/src/effect.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/Authorization.vue
Due: service, api-messages

rebase effect rpc on cookie
  docker-compose.yaml
  packages/service/src/handlers/rpc-handler.ts
  pnpm-lock.yaml
  ui/authorization/src/effect.ts
Due: service

replace HelloMessage with rpc
  packages/api-messages/package.json
  packages/api-messages/src/effect.ts
  packages/service/src/handlers/rpc-handler.ts
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/backend.ts
  ui/authorization/src/effect.ts
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/Dashboard.vue
Due: service, api-messages

minimize typescript versions
  examples/plenary/package.json
  examples/vuejectron/package.json
  packages/css-test-utils/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: none

[service] fix: cookies.loginId can be undefined
  packages/css-storage-fixture/dev/www/.internal/setup/current-server-version$.json
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/session-manager.ts
  ui/authorization/vite.config.ts
Due: service

finish conversion to @effect/rpc
  eslint.config.mjs
  packages/api-messages/src/effect.ts
  packages/api-messages/src/index.ts
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/authorization-agent/src/authorization.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/rpc-handler.ts
  packages/service/src/index.ts
  packages/service/src/services/access-request.ts
  packages/service/src/services/data-instance.ts
  packages/service/src/services/descriptions.ts
  packages/service/src/services/invitations.ts
  packages/service/src/services/social-agents.ts
  ui/authorization/src/backend.ts
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/effect.ts
  ui/authorization/src/store/app.ts
Due: service, api-messages

update use of notify in JSON-LD context
  examples/vuejectron/vite.config.ts
  packages/application/src/notification-manager.ts
  packages/service/src/handlers/agents-handler.ts
Due: application, service

rename tsconfig.json to tsconfig.base.json
  packages/api-messages/tsconfig.json
  packages/application/tsconfig.json
  packages/authorization-agent/tsconfig.json
  packages/css-test-utils/tsconfig.json
  packages/data-model/tsconfig.json
  packages/interfaces/tsconfig.json
  packages/repl/tsconfig.json
  packages/service/tsconfig.json
  packages/test-utils/tsconfig.json
  packages/utils/tsconfig.json
  tsconfig.base.json
Due: application, data-model, test-utils, utils, service, api-messages

upate turborepo to v2
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

update typescript and eslint
  examples/plenary/package.json
  examples/vuejectron/package.json
  package.json
  packages/css-test-utils/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: none

updated various dependencies
  package.json
  pnpm-lock.yaml
Due: none

update vitest and n3
  package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/css-test-utils/package.json
  packages/data-model/package.json
  packages/service/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: application, data-model, test-utils, utils, service

[data-model] update tests
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/test/authorization-agent-factory.test.ts
  packages/data-model/test/crud/data-registry.test.ts
  packages/data-model/test/immutable/data-authorization.test.ts
  packages/data-model/test/immutable/data-grant.test.ts
  packages/test-utils/src/data.json
Due: data-model, test-utils

[authorization-agent] test: fix
  packages/authorization-agent/package.json
  packages/authorization-agent/test/authorization-agent.test.ts
Due: none

[api-messages] test: remove old tests
  packages/api-messages/package.json
  packages/api-messages/test/requests.test.ts
  packages/api-messages/test/responses.test.ts
Due: api-messages

[service]: test: fix
  packages/service/package.json
  packages/service/src/services/descriptions.ts
  packages/service/test/unit/handlers/api-handler.test.ts
  packages/service/test/unit/services/access-request.test.ts
  packages/service/test/unit/services/applications.test.ts
  packages/service/test/unit/services/data-instance.test.ts
  packages/service/test/unit/services/data-registries.test.ts
  packages/service/test/unit/services/descriptions.test.ts
Due: service

fix lasta failing tests
  .github/workflows/ci.yml
  packages/application/test/application.test.ts
  packages/css-storage-fixture/test/.internal/setup/current-server-version$.json
  packages/css-test-utils/package.json
  packages/service/package.json
  packages/utils/test/discovery.test.ts
  pnpm-lock.yaml
Due: application, utils, service

chore: add basic devbox setup
  devbox.json
  devbox.lock
Due: none

chore: replace prettier and eslint with biome
  biome.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.js
Due: none

chore: remove eslint comments
  examples/plenary/package.json
  examples/plenary/src/auto-imports.d.ts
  examples/plenary/src/typed-router.d.ts
  examples/vuejectron/package.json
  package.json
  packages/css-storage-fixture/test/.internal/accounts/data/46b9339e-3cd6-4594-b40b-6bcc28cb881a$.json
  packages/css-test-utils/src/accounts.ts
  packages/data-model/src/authorization-agent-factory.ts
  packages/data-model/src/base-factory.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/data-instance.ts
  packages/data-model/src/immutable/resource.ts
  packages/data-model/src/readable/all-from-registry-data-grant.ts
  packages/data-model/src/readable/inherited-data-grant.ts
  packages/data-model/src/readable/selected-from-registry-data-grant.ts
  packages/data-model/src/resource.ts
  packages/interfaces/src/queue.ts
  packages/interfaces/src/worker.ts
  packages/service/package.json
  packages/service/src/bull-queue.ts
  packages/service/src/redis-storage.ts
  packages/service/test/unit/bull-queue-test.ts
  packages/service/test/unit/bull-worker.test.ts
  packages/service/test/unit/handlers/http-sequence-context-handler.test.ts
  packages/service/test/unit/services/login.test.ts
  packages/service/test/unit/session-manager.test.ts
  packages/utils/src/fetch.ts
  packages/utils/src/namespaces.ts
  packages/utils/test/fetch.test.ts
  pnpm-lock.yaml
  ui/authorization/package.json
Due: data-model, utils, service

adjust biome command for NixOS
  package.json
Due: none

switch from pnpm to npm
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
  .github/workflows/publish-to-npm.yml
  .gitignore
  .husky/pre-commit
  .npmrc
  README.md
  devbox.json
  devbox.lock
  examples/plenary/package.json
  examples/vuejectron/package.json
  package-lock.json
  package.json
  packages/api-messages/package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/css-storage-fixture/README.md
  packages/css-storage-fixture/config.json
  packages/css-storage-fixture/dev/www/.internal/setup/current-server-version$.json
  packages/css-storage-fixture/package.json
  packages/css-storage-fixture/test/.internal/accounts/data/46b9339e-3cd6-4594-b40b-6bcc28cb881a$.json
  packages/css-storage-fixture/test/.internal/setup/current-server-version$.json
  packages/css-test-utils/package.json
  packages/css-test-utils/src/css-config.json
  packages/css-test-utils/src/css-util.ts
  packages/css-test-utils/src/solid-test-utils.ts
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/repl/package.json
  packages/service/package.json
  packages/service/vitest.config.mts
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbowatch.ts
  ui/authorization/package.json
Due: application, data-model, utils, service, api-messages

[vuejectron] update LDO
  examples/vuejectron/package.json
  examples/vuejectron/src/store/app.ts
  package-lock.json
Due: none

adjust biome
  devbox.json
  package.json
  packages/css-test-utils/src/css-util.ts
  packages/css-test-utils/src/solid-test-utils.ts
Due: none
