Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, test-utils, utils, service, api-messages

codecov.yml:

coverage:
  status:
    projects:
      default: off
      application:
        flags:
          - application
      data-model:
        flags:
          - data-model
      test-utils:
        flags:
          - test-utils
      utils:
        flags:
          - utils
      service:
        flags:
          - service
      api-mesages:
        flags:
          - api-messages

flags:
  application:
    paths:
      - packages/application
  data-model:
    paths:
      - packages/data-model
  test-utils:
    paths:
      - packages/test-utils
  utils:
    paths:
      - packages/utils
  service:
    paths:
      - packages/service
  api-messages:
    paths:
      - packages/api-messages

[api-messages] test with vitest instead of jest
  packages/api-messages/jest.config.mjs
  packages/api-messages/package.json
  packages/api-messages/test/requests.test.ts
  packages/api-messages/test/responses.test.ts
Due: api-messages

[authorization-agent] add interfaces to find human readable labels
  examples/vuejectron/src/sw.js
  package.json
  packages/application/src/application.ts
  packages/application/test/application.test.ts
  packages/authorization-agent/src/authorization-agent.ts
  packages/css-storage-fixture/acme-hr/.meta
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/data-model/src/crud/data-registry.ts
  packages/service/src/handlers/web-push-webhooks-handler.ts
  turbo.json
Due: application, data-model, service

[application] test new public interface
  packages/application/package.json
  packages/application/src/application.ts
  packages/application/test/application.test.ts
  packages/css-test-utils/src/css-util.ts
  packages/utils/test/discovery.test.ts
  pnpm-lock.yaml
  vitest.workspace.ts
Due: application, utils

[util] improve test coverage
  packages/application/test/application-test.ts
  packages/css-storage-fixture/.internal/setup/current-server-version$.json
  packages/css-storage-fixture/package.json
  packages/utils/src/discovery.ts
  packages/utils/test/discovery-test.ts
  packages/utils/test/link-header-test.ts
  pnpm-lock.yaml
Due: application, utils

[vuejectron] notifications via streaming http
  eslint.config.mjs
  examples/vuejectron/src/store/app.ts
  packages/application/src/notification-manager.ts
Due: application

[utils] test with vitest instead of jest
  package.json
  packages/test-utils/jest.config.mjs
  packages/test-utils/package.json
  packages/test-utils/test/fetch-mock.test.ts
  packages/utils/jest.config.mjs
  packages/utils/package.json
  packages/utils/test/async-iterable-to-array.test.ts
  packages/utils/test/discovery.test.ts
  packages/utils/test/fetch.test.ts
  packages/utils/test/jsonld-parser.test.ts
  packages/utils/test/link-header.test.ts
  packages/utils/test/match.test.ts
  packages/utils/test/namespaces.test.ts
  packages/utils/test/sparql-update.test.ts
  packages/utils/test/turtle-parser.test.ts
  packages/utils/test/turtle-serializer-test.ts
  pnpm-lock.yaml
Due: test-utils, utils

[css-storage-fixture] add application registration for vujectron
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/.meta
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/1d49125e-719a-422a-a30f-e62ef74a17d6$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/22aef5d1-1b22-4c3e-bcf5-1a6528748d8c$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/2e8c9d8d-d308-4eb5-ae8b-0f865dbc4b12$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/3e278d4a-998a-452a-ac9c-172e9cdddc3d$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/4cade7b4-359e-433e-9d4a-2c32b90c5abd$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/6e4f092e-65da-48b4-9faf-095f431ed525$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/7dfa42a6-9739-44d4-bfca-d5aeaf8e1de5$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/87a83d69-a680-49e4-a02b-26bacb76f872$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/968ce9c0-859e-4e61-b927-32c150d549b1$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/a38bd02a-6e60-4893-8c76-dbb76691b246$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/b77e0ba1-7c1f-4f0f-90ba-486f542f621a$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/bfdc8dfe-4ea0-44e3-b3a1-2a701fdfcafe$.ttl
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/d1974379-369d-4385-977f-7c1f47023e2b$.ttl
  packages/css-storage-fixture/alice/authorizationRegistry/.meta
  packages/css-storage-fixture/alice/authorizationRegistry/1714650d-88fb-4726-b1a4-b275861d517d$.ttl
  packages/css-storage-fixture/alice/authorizationRegistry/210f6b5e-3839-4118-98dd-c2ddcb072cb9$.ttl
  packages/css-storage-fixture/alice/authorizationRegistry/b5efc052-b1bb-4d89-9132-d4260091b21d$.ttl
  packages/css-storage-fixture/alice/authorizationRegistry/f587d4a5-bccc-48c1-8743-ea4fefea92bb$.ttl
  packages/css-storage-fixture/alice/authorizationRegistry/f7b993bb-dc6e-4732-8cb1-7641283e27a9$.ttl
Due: none

fix eslint warnings
  examples/plenary/src/stores/app.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/views/Project.vue
  packages/service/test/unit/handlers/api-handler-test.ts
  ui/authorization/src/components/AuthorizeApp.vue
Due: service

[application] extract webpush into notification manager
  examples/vuejectron/src/store/app.ts
  packages/application/src/application.ts
  packages/application/src/index.ts
  packages/application/src/notification-manager.ts
Due: application

[css-test-utils] new package that runs CSS for tests
  .gitignore
  packages/css-test-utils/LICENSE
  packages/css-test-utils/README.md
  packages/css-test-utils/package.json
  packages/css-test-utils/src/css-config.json
  packages/css-test-utils/src/css-util.ts
  packages/css-test-utils/src/index.ts
  packages/css-test-utils/src/solid-test-utils.ts
  packages/css-test-utils/tsconfig.json
  packages/utils/package.json
  packages/utils/src/discovery.ts
  packages/utils/src/match.ts
  packages/utils/test/discovery.test.ts
  pnpm-lock.yaml
Due: utils

fix failing tests
  packages/application/test/application.test.ts
  packages/data-model/test/crud/agent-registration.test.ts
  packages/data-model/test/crud/data-registration.test.ts
  packages/data-model/test/crud/data-registry.test.ts
Due: application, data-model

[css-solid-fixture] start populating the test css instance
  packages/application/test/application.test.ts
  packages/css-storage-fixture/package.json
  packages/css-storage-fixture/test/.internal/accounts/data/46b9339e-3cd6-4594-b40b-6bcc28cb881a$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/2edef238-74be-49a5-b1ac-b4f6b6861eb9$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/5693817d-a0f1-4dcd-9dec-58bdfe179b08$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/5eb23684-ab15-4b08-9afb-7278a9177d70$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/label/my-token_17a7c350-1d1f-4b22-9ea2-7571ad01e45e$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/label/my-token_2ae7724b-5d99-4a45-aa3c-c988ad7835c5$.json
  packages/css-storage-fixture/test/.internal/accounts/index/clientCredentials/label/my-token_db284e3a-fb79-40e5-ae24-315d3e15aff3$.json
  packages/css-storage-fixture/test/.internal/accounts/index/owner/724b4012-5fc5-4be0-a55a-cff7ac464d00$.json
  packages/css-storage-fixture/test/.internal/accounts/index/password/bf3e5116-534a-41d2-8a97-8dd2f7501f4e$.json
  packages/css-storage-fixture/test/.internal/accounts/index/password/email/luka@acme.example$.json
  packages/css-storage-fixture/test/.internal/accounts/index/pod/85693ab5-f062-4511-9f11-4a5189857eb0$.json
  packages/css-storage-fixture/test/.internal/accounts/index/pod/baseUrl/http%3A%2F%2Flocalhost%3A3711%2Fluka%2F$.json
  packages/css-storage-fixture/test/.internal/accounts/index/webIdLink/6d2b9a86-3272-47a0-b21b-1e67cfa32699$.json
  packages/css-storage-fixture/test/.internal/accounts/index/webIdLink/webId/http%3A%2F%2Flocalhost%3A3711%2Fluka%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/test/.internal/setup/current-base-url$.json
  packages/css-storage-fixture/test/.internal/setup/current-server-version$.json
  packages/css-storage-fixture/test/.internal/setup/v6-migration$.json
  packages/css-storage-fixture/test/luka/.acl
  packages/css-storage-fixture/test/luka/.meta
  packages/css-storage-fixture/test/luka/README$.markdown
  packages/css-storage-fixture/test/luka/README.acl
  packages/css-storage-fixture/test/luka/profile/card$.ttl
  packages/css-storage-fixture/test/luka/profile/card.acl
  packages/css-test-utils/src/css-util.ts
  packages/utils/test/discovery.test.ts
Due: application, utils

[repl] extract as new package from css-test-utils
  packages/css-storage-fixture/package.json
  packages/css-test-utils/src/accounts.ts
  packages/css-test-utils/src/index.ts
  packages/css-test-utils/src/solid-test-utils.ts
  packages/css-test-utils/src/types.ts
  packages/repl/LICENSE
  packages/repl/README.md
  packages/repl/package.json
  packages/repl/repl.ts
  packages/repl/tsconfig.json
  packages/utils/test/discovery.test.ts
  pnpm-lock.yaml
Due: utils

[css-storage-fixture] correct filenames in accounts storage
  docker-compose.yaml
  packages/css-storage-fixture/bob/profile/card$.ttl
  packages/css-storage-fixture/www/.internal/accounts/index/pod/baseUrl/https%3A%2F%2Facme.pod.docker%2F$.json
  packages/css-storage-fixture/www/.internal/accounts/index/pod/baseUrl/https%3A%2F%2Fbob.pod.docker%2F$.json
  packages/css-storage-fixture/www/.internal/accounts/index/pod/baseUrl/https%3A%2F%2Fshapetrees.pod.docker%2F$.json
  packages/css-storage-fixture/www/.internal/accounts/index/pod/baseUrl/https%3A%2F%2Fyori.pod.docker%2F$.json
  packages/css-storage-fixture/www/.internal/accounts/index/webIdLink/webId/http%3A%2F%2Fbob.pod.docker%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/www/.internal/accounts/index/webIdLink/webId/https%3A%2F%2Facme.pod.docker%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/www/.internal/accounts/index/webIdLink/webId/https%3A%2F%2Fbob.pod.docker%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/www/.internal/accounts/index/webIdLink/webId/https%3A%2F%2Fshapetrees.pod.docker%2Fprofile%2Fcard#me$.json
  packages/css-storage-fixture/www/.internal/accounts/index/webIdLink/webId/https%3A%2F%2Fyori.pod.docker%2Fprofile%2Fcard#me$.json
Due: none

[application] refactor notifications from application registration
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/views/Main.vue
  packages/application/src/application.ts
  packages/application/src/notification-manager.ts
  packages/utils/src/link-header.ts
  packages/utils/src/namespaces.ts
  ui/authorization/src/components/AuthorizeApp.vue
Due: application, utils

[authorization-agent] test with vitest instead of jest
  packages/authorization-agent/jest.config.mjs
  packages/authorization-agent/package.json
  packages/authorization-agent/test/authorization-agent.test.ts
Due: none

improve webpush to webhook
  .eslintrc.js
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/sw.js
  examples/vuejectron/src/views/Dashboard.vue
  examples/vuejectron/src/views/Main.vue
  packages/application/src/application.ts
  packages/service/config/controllers/web-push.json
  packages/service/src/handlers/web-push-subscribe-handler.ts
  packages/service/src/handlers/web-push-unsubscribe-handler.ts
  packages/service/src/handlers/web-push-webhooks-handler.ts
  packages/service/src/index.ts
  packages/service/src/session-manager.ts
  packages/service/src/url-templates.ts
Due: application, service

[application] test with vitest instead of jest
  packages/application/jest.config.mjs
  packages/application/package.json
  packages/application/test/application.test.ts
Due: application

connected webhooks
  examples/vuejectron/package.json
  examples/vuejectron/src/store/app.ts
  package.json
  packages/application/src/application.ts
  packages/service/config/controllers/web-push-webhooks.json
  packages/service/config/service.json
  packages/service/src/handlers/agents-handler.ts
  packages/service/src/handlers/web-push-handler.ts
  packages/service/src/handlers/web-push-webhooks-handler.ts
  packages/service/src/index.ts
  packages/service/src/session-manager.ts
  packages/service/src/url-templates.ts
Due: application, service

dockerize local dev env
  .npmrc
  README.md
  docker-compose.yaml
  examples/plenary/README.md
  examples/plenary/vite.config.mts
  examples/vuejectron/.env.development
  examples/vuejectron/vite.config.ts
  package.json
  packages/css-storage-fixture/acme/projectron/authorization-ui$.jsonld
  packages/css-storage-fixture/acme/projectron/id$.jsonld
  packages/css-storage-fixture/acme/projectron/ng$.jsonld
  packages/css-storage-fixture/acme/projectron/vue$.jsonld
  packages/css-storage-fixture/alice/agentRegistry/.meta
  packages/css-storage-fixture/alice/agentRegistry/test-client/.meta
  packages/css-storage-fixture/alice/agentRegistry/vuejectron/.meta
  packages/css-storage-fixture/package.json
  packages/css-storage-fixture/www/.internal/accounts/cookies/4c6ef383-4cb4-47d3-b0cd-f1611fdd0273$.json
  packages/css-test-utils/package.json
  packages/data-model/test/readable/client-id-document.test.ts
  packages/service/.env
  packages/service/config/development.json
  packages/service/config/service.json
  packages/service/package.json
  packages/service/src/handlers/x-forward-proto-handler.ts
  packages/service/src/index.ts
  pnpm-lock.yaml
  ui/authorization/.env.development
  ui/authorization/vite.config.ts
  www/.internal/idp/keys/cookie-secret$.json
  www/.internal/idp/keys/jwks$.json
  www/.internal/setup/current-base-url$.json
  www/.internal/setup/current-server-version$.json
  www/.internal/setup/v6-migration$.json
Due: data-model, service

clanup use of LDO
  .npmrc
  examples/vuejectron/src/models.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/views/Agent.vue
  examples/vuejectron/src/views/Project.vue
  packages/application/README.md
  packages/application/src/application.ts
  packages/css-storage-fixture/alice-work/dataRegistry/files/solid-interop.meta
  packages/css-storage-fixture/alice-work/dataRegistry/images/cat.meta
  packages/css-storage-fixture/shapetrees/shapes/File$.shex
  packages/data-model/src/readable/data-grant.ts
  packages/service/package.json
  packages/utils/src/discovery.ts
  pnpm-lock.yaml
Due: application, data-model, utils, service

update eslint config
  .eslintrc.js
  eslint.config.mjs
  examples/plenary/.eslintrc.js
  examples/vuejectron/.eslintrc.js
  package.json
  pnpm-lock.yaml
  ui/authorization/.eslintrc.js
Due: none

initial web push
  examples/vuejectron/package.json
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/store/core.ts
  examples/vuejectron/src/sw.js
  examples/vuejectron/src/views/Dashboard.vue
  examples/vuejectron/vite.config.ts
  packages/application/src/application.ts
  packages/service/config/controllers/web-push.json
  packages/service/config/service.json
  packages/service/src/handlers/agents-handler.ts
  packages/service/src/handlers/web-push-handler.ts
  packages/service/src/index.ts
  packages/service/src/url-templates.ts
  packages/utils/src/discovery.ts
  pnpm-lock.yaml
Due: application, utils, service

[data model] turn storageIri into a function (DataRegistry)
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/readable/resource.ts
  packages/service/src/services/data-registries.ts
  packages/service/test/unit/services/data-registries.test.ts
Due: data-model, service

copy setup from docker-shared-services
  .env
  .gitignore
  Makefile
  docker-compose.yaml
  mkcert.sh
  packages/css-storage-fixture/dev/www/.internal/setup/current-server-version$.json
  packages/css-storage-fixture/package.json
  packages/css-test-utils/package.json
  pnpm-lock.yaml
  traefik/certs/.gitignore
  traefik/conf/traefik.yml
Due: none

fix broken symlinks
  examples/plenary/shapes
  examples/vuejectron/shapes
Due: none

update README
  README.md
  packages/api-messages/README.md
  packages/application/README.md
  packages/authorization-agent/README.md
  packages/data-model/README.md
  packages/service/README.md
  packages/test-utils/README.md
  packages/utils/README.md
Due: application, data-model, test-utils, utils, service, api-messages

chore: change import assert to import with
  packages/api-messages/rollup.config.mjs
  packages/application/rollup.config.mjs
  packages/authorization-agent/rollup.config.mjs
  packages/data-model/rollup.config.mjs
  packages/utils/rollup.config.mjs
Due: application, data-model, utils, api-messages

update docker setup to work on macos
  .env
  README.md
  docker-compose.yaml
  packages/css-storage-fixture/test/.internal/accounts/data/46b9339e-3cd6-4594-b40b-6bcc28cb881a$.json
  packages/css-storage-fixture/test/.internal/setup/current-server-version$.json
Due: none

fix: install multiple platforms and architectures
  package.json
  pnpm-lock.yaml
Due: none

authenticate frontend using cookie
  packages/api-messages/src/payloads.ts
  packages/data-model/src/readable/webid-profile.ts
  packages/data-model/test/readable/webid-profile.test.ts
  packages/service/.env
  packages/service/config/controllers/login.json
  packages/service/config/service.json
  packages/service/package.json
  packages/service/src/handlers/api-handler.ts
  packages/service/src/handlers/cookie-context-handler.ts
  packages/service/src/handlers/login-handler.ts
  packages/service/src/handlers/login-redirect-handler.ts
  packages/service/src/index.ts
  packages/service/src/models/http-solid-context.ts
  packages/service/src/utils/crypto.ts
  packages/service/test/unit/handlers/api-handler.test.ts
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/backend.ts
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/Authentication.vue
Due: data-model, service, api-messages

adjust docker dev setup for mac
  docker-compose.yaml
  docker-mac-routes-add.sh
Due: none

use node 22
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
  .github/workflows/publish-to-npm.yml
  README.md
  package.json
  packages/data-model/package.json
  packages/service/package.json
  pnpm-lock.yaml
Due: data-model, service
