Repository janeirodigital/sai-js: changes, and which Codecov flags are due for each by the changed paths.
All: application, data-model, test-utils, utils, service, api-messages

[examples/vuejectron] merge into the monorepo
  examples/vuejectron/.browserslistrc
  examples/vuejectron/.editorconfig
  examples/vuejectron/.env.development
  examples/vuejectron/.eslintrc.js
  examples/vuejectron/.gitignore
  examples/vuejectron/README.md
  examples/vuejectron/index.html
  examples/vuejectron/package.json
  examples/vuejectron/public/favicon.ico
  examples/vuejectron/src/App.vue
  examples/vuejectron/src/assets/logo.png
  examples/vuejectron/src/assets/logo.svg
  examples/vuejectron/src/components/HelloWorld.vue
  examples/vuejectron/src/components/InputDialog.vue
  examples/vuejectron/src/layouts/default/AppBar.vue
  examples/vuejectron/src/layouts/default/Default.vue
  examples/vuejectron/src/layouts/default/View.vue
  examples/vuejectron/src/main.ts
  examples/vuejectron/src/models.ts
  examples/vuejectron/src/plugins/index.ts
  examples/vuejectron/src/plugins/vuetify.ts
  examples/vuejectron/src/plugins/webfontloader.ts
  examples/vuejectron/src/router/index.ts
  examples/vuejectron/src/sai.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/store/core.ts
  examples/vuejectron/src/store/index.ts
  examples/vuejectron/src/styles/settings.scss
  examples/vuejectron/src/views/Authn.vue
  examples/vuejectron/src/views/Dashboard.vue
  examples/vuejectron/src/views/Project.vue
  examples/vuejectron/src/vite-env.d.ts
  examples/vuejectron/tsconfig.json
  examples/vuejectron/tsconfig.node.json
  examples/vuejectron/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

cleanup
  .gitignore
  examples/vuejectron/.gitignore
  package.json
  packages/service/package.json
  turbo.json
  ui/authorization/.gitignore
Due: service

[examples/vuejectron] redesign UI
  .gitignore
  examples/vuejectron/src/App.vue
  examples/vuejectron/src/layouts/default/AppBar.vue
  examples/vuejectron/src/layouts/default/Default.vue
  examples/vuejectron/src/layouts/default/View.vue
  examples/vuejectron/src/plugins/vuetify.ts
  examples/vuejectron/src/router/index.ts
  examples/vuejectron/src/sai.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/views/Agent.vue
  examples/vuejectron/src/views/Dashboard.vue
  examples/vuejectron/src/views/Main.vue
  examples/vuejectron/src/views/Project.vue
  examples/vuejectron/vite.config.ts
  packages/css-storage-fixture/package.json
  packages/service/src/session-manager.ts
  packages/service/test/unit/session-manager-test.ts
Due: service

[examples/vuejectron] feature: share project
  examples/vuejectron/src/router/index.ts
  examples/vuejectron/src/sai.ts
  examples/vuejectron/src/store/app.ts
  examples/vuejectron/src/store/core.ts
  examples/vuejectron/src/views/Agent.vue
  examples/vuejectron/src/views/Main.vue
  examples/vuejectron/src/views/Project.vue
Due: none

docs: update main README
  README.md
Due: none

[utils] chore: update dependencies
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: test-utils, utils

[data-model] fix: labels for blobs
  packages/data-model/src/readable/data-instance.ts
Due: data-model

[examples/vuejectron] fix: restore path after redirect
  examples/vuejectron/src/store/core.ts
Due: none

[application] chore: update dependencies
  packages/application/package.json
  pnpm-lock.yaml
Due: application

[service] chore: update dependencies
  packages/interfaces/package.json
  packages/service/package.json
  pnpm-lock.yaml
Due: service

chore: update dev dependencies
  .eslintrc.js
  .husky/pre-commit
  package.json
  packages/service/src/processors/access-inbox.ts
  packages/service/src/processors/reciprocal-registrations.ts
  pnpm-lock.yaml
Due: service

[authorization-agent] chore: update dependencies
  packages/authorization-agent/package.json
  pnpm-lock.yaml
Due: none

[css-storage-fixtures] chore: update dependencies
  .github/workflows/ci.yml
  .github/workflows/publish-to-ghcr.yml
  .github/workflows/publish-to-npm.yml
  packages/css-storage-fixture/package.json
  pnpm-lock.yaml
Due: none

[ui/authorization] chore: update dependencies
  pnpm-lock.yaml
  ui/authorization/package.json
Due: none

[examples/vuejectron] chore: update dependencies
  examples/vuejectron/package.json
  packages/css-storage-fixture/.internal/setup/Y3VycmVudC1zZXJ2ZXItdmVyc2lvbg==$.json
  pnpm-lock.yaml
Due: none

[ui/authorization] feature: simple data browsing (peers)
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/data-model/src/readable/inheritable-data-grant.ts
  packages/data-model/src/readable/inherited-data-grant.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/data-registries.ts
  packages/service/src/services/descriptions.ts
  tsconfig.json
  ui/authorization/src/backend.ts
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/DataRegistryList.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: data-model, service, api-messages

[ui/authorization] feature: diable share button if invalid
  ui/authorization/src/components/ShareResource.vue
Due: none

chore: updated tests
  packages/api-messages/test/requests.-test.ts
  packages/data-model/test/readable/all-from-registry-data-grant-test.ts
  packages/data-model/test/readable/inherited-data-grant-test.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/services/data-registries-test.ts
  packages/service/test/unit/services/descriptions-test.ts
Due: data-model, service, api-messages

[ui/authorization] feature: simple data browsing
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/DataRegistryList.vue
Due: none

[ui/authorization] feature: create basic dashboard
  ui/authorization/src/backend.ts
  ui/authorization/src/layouts/default/Default.vue
  ui/authorization/src/layouts/default/View.vue
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/store/core.ts
  ui/authorization/src/views/ApplicationList.vue
  ui/authorization/src/views/Authentication.vue
  ui/authorization/src/views/Authorization.vue
  ui/authorization/src/views/Dashboard.vue
  ui/authorization/src/views/DataRegistryList.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: none

[data-model] chore: update dependencies
  packages/data-model/package.json
  pnpm-lock.yaml
Due: data-model

[ui-authorization] authorize application by providing client id
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/ApplicationList.vue
  ui/authorization/src/views/Authorization.vue
Due: none

chore: update solid-oidc client
  examples/vuejectron/package.json
  packages/interfaces/package.json
  packages/service/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: service

[vuejectron] adjust vite config
  examples/vuejectron/vite.config.ts
Due: none

chore: set log levels to warn
  packages/css-storage-fixture/package.json
  packages/service/src/componentsMain.ts
Due: service

[util] start throwing custom errors
  packages/application/src/index.ts
  packages/utils/src/discovery.ts
  packages/utils/src/link-header.ts
  packages/utils/test/discovery-test.ts
Due: application, utils

[vuejectron] start showing custom errors
  examples/vuejectron/src/store/core.ts
  examples/vuejectron/src/views/Authn.vue
Due: none

link to app from authoization ui application list
  packages/api-messages/src/payloads.ts
  packages/data-model/src/crud/agent-registry.ts
  packages/data-model/src/crud/application-registration.ts
  packages/service/src/services/applications.ts
  ui/authorization/src/views/ApplicationList.vue
Due: data-model, service, api-messages

[vuejectron] fix link to the agent from the snackbar
  examples/vuejectron/src/views/Main.vue
Due: none

[ui/authorization] redirect to login if restoring session failed
  ui/authorization/src/router/index.ts
  ui/authorization/src/store/core.ts
Due: none

chore: replace npm run with pnpm run in scripts
  .husky/pre-commit
  examples/vuejectron/README.md
  packages/api-messages/package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/service/package.json
  packages/utils/package.json
  ui/authorization/README.md
Due: application, data-model, utils, service, api-messages

feature: use storage iri to label data registries
  packages/api-messages/src/payloads.ts
  packages/authorization-agent/test/authorization-agent-test.ts
  packages/data-model/src/crud/data-registry.ts
  packages/data-model/src/readable/inheritable-data-grant.ts
  packages/data-model/src/readable/inherited-data-grant.ts
  packages/data-model/src/readable/resource.ts
  packages/data-model/test/crud/container-test.ts
  packages/data-model/test/crud/resoruce-test.ts
  packages/data-model/test/data-instance-test.ts
  packages/data-model/test/immutable/resource-test.ts
  packages/service/src/services/data-registries.ts
  packages/test-utils/src/fetch-mock.ts
  packages/utils/src/fetch.ts
  packages/utils/src/namespaces.ts
  packages/utils/test/discovery-test.ts
  ui/authorization/src/views/DataRegistryList.vue
Due: data-model, test-utils, utils, service, api-messages

release 1.0.0-rc.22
  examples/vuejectron/package.json
  packages/api-messages/package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/service/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: application, data-model, test-utils, utils, service, api-messages

pnpm publish --no-git-checks
  .github/workflows/publish-to-npm.yml
Due: none

fix: default oidc issuer url
  examples/vuejectron/.env.development
  ui/authorization/.env.development
  ui/authorization/src/router/index.ts
Due: none

feat: basic access request
  packages/api-messages/src/payloads.ts
  packages/api-messages/src/requests.ts
  packages/api-messages/src/responses.ts
  packages/api-messages/test/requests.-test.ts
  packages/css-storage-fixture/alice-home/.acl
  packages/css-storage-fixture/alice-work/.acl
  packages/css-storage-fixture/bob/agentRegistry/alice/.meta
  packages/data-model/src/crud/social-agent-registration.ts
  packages/service/src/handlers/api-handler.ts
  packages/service/src/services/access-request.ts
  packages/service/src/services/descriptions.ts
  packages/service/src/services/social-agents.ts
  packages/service/test/unit/handlers/api-handler-test.ts
  packages/service/test/unit/services/descriptions-test.ts
  ui/authorization/src/backend.ts
  ui/authorization/src/components/AuthorizeAgent.vue
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/Authorization.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: data-model, service, api-messages

[ui/authorization] ux: adjust access request elements
  examples/vuejectron/package.json
  packages/api-messages/src/payloads.ts
  packages/css-storage-fixture/config.json
  packages/data-model/src/crud/container.ts
  packages/interfaces/package.json
  packages/service/package.json
  packages/service/src/services/data-registries.ts
  packages/service/src/services/social-agents.ts
  packages/service/test/unit/services/social-agents-test.ts
  packages/utils/src/sparql-update.ts
  packages/utils/test/sparql-update-test.ts
  pnpm-lock.yaml
  ui/authorization/package.json
  ui/authorization/src/components/AuthorizeApp.vue
  ui/authorization/src/plugins/vuetify.ts
  ui/authorization/src/store/app.ts
  ui/authorization/src/views/DataRegistryList.vue
  ui/authorization/src/views/SocialAgentList.vue
Due: data-model, utils, service, api-messages

setup turbowatch
  README.md
  package.json
  packages/service/package.json
  pnpm-lock.yaml
  turbowatch.ts
Due: service

release 1.0.0-rc.23
  examples/vuejectron/package.json
  packages/api-messages/package.json
  packages/application/package.json
  packages/authorization-agent/package.json
  packages/data-model/package.json
  packages/interfaces/package.json
  packages/service/package.json
  packages/test-utils/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  ui/authorization/package.json
Due: application, data-model, test-utils, utils, service, api-messages

Path conditions:
  application: any of: packages/application
  data-model: any of: packages/data-model
  test-utils: any of: packages/test-utils
  utils: any of: packages/utils
  service: any of: packages/service
  api-messages: any of: packages/api-messages
